
/*@media only screen and (max-width: 719px) {
 .button1{
	position: absolute;
	top:74%;
	left: 20%;
}
.button2{
	position: absolute;
	top:74%;
	left: 40%;
}
.button3{
	position: absolute;
	top:74%;
	left: 60%;
}
}

@media only screen and (max-width: 539px) {


.button1{
	position: absolute;
	top:34%;
	left:37%;
	
}
.button2{
	position: absolute;
	top:54%;
	left:37%;
	
}
.button3{
	position: absolute;
	top:74%;
	left:37%;
}

}*/