* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
    font-size: 20px;
}

body {
    background-color: #2A2828;
}


/*navbar色阎*/

.navbar-inverse {
    background-color: #151726;
    margin-bottom: 0;

}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

body {
    padding: 0;
    margin: 0;
}


/*主面header阎门c特效*/

header {
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../_996_image/index1.jpg);
    height: 950px;
    background-size: cover;
    background-position: center;
}


/*背景border分割*/

.bg {
    width: 33%;
    height: 950px;
    float: left;
}

.bg1 {
    border-right: solid #504F4F 5px;
}

.bg2 {
    border-right: solid #504F4F 5px;
    border-left: solid #504F4F 5px;
}

.bgbt {
    position: relative;
    top: 70%;
    width: 100%;
}

.bg3 {
    width: 34%;
    border-left: solid #504F4F 5px;
}


/*主面第二^K*/

.block {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 950px;
    background-size: cover;
    float: left;
    top: -60px;
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
}

.block:hover {
    opacity: 1
}

.block1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../_996_image/block1.jpg);
}

.block2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../_996_image/block2.jpg);
}

.block3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../_996_image/block3.jpg);
}


/*主面按扭^K*/

.button {
    position: absolute;
    top: 70%;
    width: 100%;
}


/*主面按o*/

.btn-success {
    margin: 0;
    background-color: #151726;
    border-color: #151726;
    width: 100%;
    height: 60px;
    font-size: 30px;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #406C6E;
    background-position: 0 -15px;
    border-color: #406C6E;
}


/*找老carousel*/

.theme {
    width: 100%;
    height: 50px;
    color: #ECECEC;
    margin-top: 35px;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
}


/* Removes the default 20px margin and creates some padding space for the indicators and controls */

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}


/* Reposition the controls slightly */

.carousel-control {
    left: -12px;
}

.carousel-control.right {
    right: -12px;
}


/* Changes the position of the indicators */

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

.left.carousel-control {
    width: 10%;
}

.right.carousel-control {
    width: 10%;
}

.glyphicon {
    color: #C4C5D8;
}

.well {
    background-color: #272121;
}

.thumbnail {
    background-color: #403939;
}

.caption {
    color: #F0EBEB;
}


/*教A[站刃虐粹o*/

.btn-primary {
    width: 100px;
    height: 35px;
    font-size: 20px;
    background-color: #406C6E;
    border-color: #406C6E;
}
/*登入]^K*/

.user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.user-modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.user-modal.is-visible .user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.user-modal-container {
    position: relative;
    top: 10%;
    width: 90%;
    max-width: 600px;
    background: #5C5C5C;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.user-modal-container .switcher:after {
    content: "";
    display: table;
    clear: both;
}

.user-modal-container .switcher li {
    width: 50%;
    float: left;
    text-align: center;
    text-decoration: none
}

.user-modal-container .switcher li:first-child a {
    border-radius: .25em 0 0 0;
}

.user-modal-container .switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}

.user-modal-container .switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}

.user-modal-container .switcher a.selected {
    background: #5C5C5C;
    color: #ffffff;
}

@media only screen and (min-width: 600px) {
    .user-modal-container {
        margin: 4em auto;
    }
    .user-modal-container .switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.form {
    padding: 1.4em;
}

.form .fieldset {
    position: relative;
    margin: 1.4em 0;
}

.form .fieldset:first-child {
    margin-top: 0;
}

.form .fieldset:last-child {
    margin-bottom: 0;
}

.form label {
    font-size: 14px;
    font-size: 0.875rem;
    color: #eee;
}

.form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.form label.cd-username {
    background-image: url("../../_996_image/img/cd-icon-username.svg");
}

.form label.cd-email {
    background-image: url("../../_996_image/img/cd-icon-email.svg");
}

.form label.cd-password {
    background-image: url("../../_996_image/img/cd-icon-password.svg");
}

.form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}

.form input.full-width {
    width: 100%;
}

.form input.has-padding {
    padding: 12px 20px 12px 50px;
}

.form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.form input.has-error {
    border: 1px solid #d76666;
}

.form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}

.terms {
    color: #254146
}

.form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #254146;
    color: #eee;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.no-touch .form input[type=submit]:hover,
.no-touch .form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}


/*.form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}*/

.form .error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #5C5C5C;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}

.form .error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.form .error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
    .form {
        padding: 2em;
    }
    .form .fieldset {
        margin: 2em 0;
    }
    .form .fieldset:first-child {
        margin-top: 0;
    }
    .form .fieldset:last-child {
        margin-bottom: 0;
    }
    .form input.has-padding {
        padding: 16px 20px 16px 50px;
    }
    .form input[type=submit] {
        padding: 16px 0;
    }
}

.form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .form-message {
        padding: 2em 2em 0;
    }
}

.form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}

.form-bottom-message a {
    color: #eee;
    text-decoration: underline;
}

.close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../img/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (min-width: 1170px) {
    .close-form {
        display: none;
    }
}

#login,
#signup,
#reset-password {
    display: none;
}

#login.is-selected,
#signup.is-selected,
#reset-password.is-selected {
    display: block;
}


/* emailC成功，自拥侨氘面 */

.confirm-success-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
}

.confirm-success {
    opacity: 0.5;
    z-index: 5;
    visibility: hidden;
    margin: 100px auto;
    padding: 50px;
    width: 30%;
    min-width: 250px;
    height: 150px;
    background-color: #d2d2d2;
    text-align: center;
    border-radius: 4px;
    transition: opacity 0.7s ease-in-out;
}

.confirm-success.is-visible {
    visibility: visible;
    opacity: 1;
}

.confirm-button-div {
    margin: 0 auto;
}

.confirm-button {
    width: 60%;
    height: 35px;
    font-size: 20px;
    padding: 2px 10px;
    background-color: #406C6E;
    border-color: #406C6E;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px 20%;
}


/*-----------------Page-member------------------------*/

.member-bg-img {
    margin-top: 50px;
    display: block;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-image: url("../../_996_image/memberbg1.jpg");
}


/*^K共同O定*/

.profolio {
    width: 1000px;
    height: auto !important;
    min-height: 300px;
    margin: 0 auto 10px;
    z-index: 2;
    padding: 20px;
    background-color: #363636;
    border-radius: 10px;
    color: #EEEEEE;
}

.profolio h2 {
    font-size: 1.5rem;
}

.profolio h1 {
    font-size: 2rem;
}


/*TY呈F^K*/

.profolio.info {
    margin: -60px auto 10px;
    min-height: 300px;
}

.profolio-header {
    margin: -92px auto 0;
    position: relative;
    width: 100%;
    height: 150px;
}

.profolio-img-wrapper {
    width: 150px;
    margin: 0 auto;
    box-sizing: content-box;
}

.profolio-img {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 140px;
    height: 140px;
}

.profolio-info-text {
    text-align: center;
}


/*mail^K*/

.profolio-action {
    width: 100px;
    margin: 10px auto;
}

.profolio-about-me-show {
    display: none;
}


/*建立的jam活*/

.my-jam-event {
    text-align: center;
    width: 400px;
    height: auto;
    margin: 5px auto;
    pointer-events:
}
/*我的jam event 按o*/
.my-jam-event-title {
    width: 200px;
    margin: 5px auto 0;
    border-radius: 10px;
    border: #406C6E 2px solid;
    
}
.my-jam-event-title.isopen{
    border-bottom: #E1E1E3 2px solid;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.my-jam-event h2 {
    cursor: pointer;
}

.my-jam-event-link {
    display: none; 
    text-align: left;
    background-color: #E1E1E3;
    padding: 5px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: -2px;
}


/*BY色字w*/

.my-jam-event-link a:link {
    color: #80808D;
}

.my-jam-event-link a:visited {
    color: #80808D;
}

.my-jam-event-link a:active {
    color: #80808D;
}

.my-jam-event-link a:hover {
    color: #403F3F;
    text-decoration: none;
}

.my-jam-event-link ul {
    margin: 0;
    padding: 0;
}

.my-jam-event-link li {
    margin: 6px;
    padding: 2px;
}


/*intro省略^K*/

.profolio-about-me-defualt {
    display: visible;
    max-width: 950px;
    height: 20px;
}

.firstline-wrapper {
    width: 950px;
    display: flex;
    display: webkit-flex!important;
}

.firstline {
    width: 900px;
    display: block;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.abtbtn {
    text-decoration: none;
    font-weight: 700;
    background-color: transparent;
    border: 0;
    color: #BED5D6;
    display: inline-block!important;
    margin: 0;
    padding-left: 4px;
}
/*^*/
.edit-wrapper{
    width: 50px;
    height:50px;
    position: relative;
    left: 90%;
  
    
}
.edit-btn{
    background-color: #5C4646;
}

/*人影音^*/

.media-title {
    width: 800px;
    height: 50px;
    margin: 10px auto;
    text-align: center;
    font-size: 1.6rem;
}

.profolio.media {
    display: visible;
    display: flex;
    flex-wrap: wrap;
}

iframe {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.footer-wrapper {
    color: #555252;
    background-color: #EAE9E9;
    width: 100%;
    height: 200px;
    padding: 10px;
    text-align: center;
}
